.header {
    background-color: #282828;
    height: 100px;
}

.mainRect[id="program"] {
    height: 540px;
    width: 100%;
    background-color: #FFFFFF;
}

.mainRect span[id="program"] {
    color: #f5f3f3;
    text-align: center;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 38.0pt;
    padding-top: 150px;
    margin-bottom: 20px;
}

.mainRect span[id="venue"], .mainRect span[id="time"] {
    color: rgb(226, 225, 225);
    text-align: center;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14.0pt;
}

.mainRect .btn {
    margin-top: 50px;
    height: 43px;
    width: 160px;
    background-color: #282828;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

div[class="pageindic"] {
    width: 10px;
    height: 10px;
    float: left;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

div[id="pageindichold"] {
    margin-top: 240px;
    margin-left: 35px;
    width: 11px;
    height: 540px;
    float: left;
    z-index: 10;
}

div[class="scrollablecards"] {
    display: flex;
    justify-content: center;
    align-items: center;
}

div[id="background"] {
    background-color: #CBCBCB;
    height: 471px;
    width: 929px;
    position: absolute;
    z-index: -1;
}

#carousel{
    display: flex;
    align-items: center;
    justify-items: center;
}

.card.lcard,
.card.rcard {
    width: 303px;
    height: 512px;
    background-color: #F2F2F2;
    z-index: 1;
}

.card.mcard {
    height: 563px;
    width: 319px;
    margin-left: -50px;
    margin-right: -50px;
    z-index: 2;
}

.hidden{
    display: none;
}

.card span[id="title"]{
    margin-top: 40%;
}

#leftarr {
    margin-right: 70px;
}

#rightarr {
    margin-left: 70px;
    transform: rotate(180deg);
}

#btnhold {
    text-align: center;
}